@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "themes/default/othello";
// @import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

body {
  // padding-top: 80px;
  // margin-bottom: 50px;
  height: 100%;
  width: 100%;
  font-size: 14px;
}

footer {
  background-color: rgb(50, 50, 50);
  color: white;
  // position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;

  p, ul, a {
    margin: 0;
    padding: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Title (in header)
// -------------------------

.blackstripe {
  height: 5vh;
  width: 100%;
  background-color: black; 
}

.title-banner {
  height: 20vh;
  background-color: rgba(255, 0, 0, 0.8);
  text-align: center;
  line-height: 20vh ;
}

.title-banner .title-link{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 7vh;
  letter-spacing: 0.6px;
  word-spacing: 2px;
  color: white;
  font-weight: 300;
  text-decoration: none;
}

// Navbar
// -------------------------

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar {
  margin-bottom: 20px;
  display: block;
  background-color: rgb(50, 50, 50);
}

// .navbar-brand {
//   font-size: 18px;
//   float: left;
// }

// .navbar-toggler {
//   position: relative;
//   float: right;
//   margin-bottom: 8px;
//   margin-top: 8px;
// }

// .navbar-toggler-icon {
//   font-size: 16px;
// }

// .dropdown-menu {
//   left: initial;
//   right: 0;
// }

.navbar-light .navbar-nav .nav-link-header {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-item-header :hover {
  background-color: rgb(75, 75, 75);
}

li.nav-item-header.active {
  background-color: rgb(75, 75, 75);
}

// Footer
// -------------------------

ul.footer {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.footer-link {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-link.nav-link {
  margin: 0;
  padding: 0;
}

/*
* Solves Bootstrap 4 issue
* https://github.com/twbs/bootstrap/issues/25654
*/
/* Styles in sm disposition and up */
@media (min-width: 576px) and (max-width: 767px) {
  /* Solves bs4 bug */
  .navbar-expand-md > .container,
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in md disposition and up */
@media (min-width: 768px) and (max-width: 991px) {
  /* Solves bs4 bug */
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in lg disposition and up */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Solves bs4 bug */
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}

// Basic Snapchat Button CSS
.btn-snapchat {
  background-color: #fffc00;
  color: #000 !important;

  &:hover, &:active {
    background-color: #f1ef00;
  }
}
