footer
  .container.text-center
    //- p © 2019 Companie OTHELLO, All Rights Reserved
    ul.footer
      ul.footer.item(class="footer nav navbar-nav ml-1")
        li.footer(class="nav-item")
          p.footer © 2019 Companie OTHELLO, All Rights Reserved
      ul.footer.item(class="footer nav navbar-nav ml-1")
        li.footer(class="nav-item")
          a.footer-link(href="#" class="nav-link") Privacy Policy
      ul.footer.item(class="footer nav navbar-nav ml-1")
        li.footer(class="nav-item")
          a.footer-link(href="#" class="nav-link") Terms of use
